<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Mainsitemaster.master.cs" Inherits="Mainsitemaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link  href="Styles/bootstrap.css" rel="Stylesheet" type="text/css"/>
    <link  href="Styles/StyleSheet1.css" rel="Stylesheet" type="text/css"/>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
     <div class="row">
    <div class="container">
    <div class="col-lg-12 header">
  <%-- <img  src="images/logo.jpg" class="img-responsive"/>--%>
    </div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
      
        </div>
        </div>
          <footer>
            <div class="row">
              <div class="container">               
                <div class="col-lg-12 footer">
               <p>Copyright © 2024 All Rights Reserved Software Solutions Provided by <a target="_blank" href="http://nicapp[dot]bih[dot]nic[dot]in/">NIC-BSU</a>
                                  </div>
                    
                </div>
            </div>
        </footer>
    
   
    

    </form>
</body>
</html>
