<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.web>
    <!--<machineKey validationKey="800C5BBBB05F993D7428099DB63948980BB8038AA11AF55E6E9FFEC2FEA03687E2602B17B6EE0C0AA0FBEA5CAD4777ABBCE6E19ED4A532140B2C8154290C803F" decryptionKey="FA00C4E1011F30F46BDC500E543DBAC86750B2202AEC05E8" validation="SHA1"/>-->
    <sessionState timeout="60"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages viewStateEncryptionMode="Always" clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5" validateRequest="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <!--<forms name="EservicesAppNameAuth" path="/" loginUrl="~/Default.aspx" protection="All" timeout="10" defaultUrl="~/Default.aspx" />-->

      <forms name="EservicesAppNameAuth" loginUrl="~/landdispute/Login_Default.aspx" timeout="30" path="/landdispute" protection="All" defaultUrl="~/landdispute/Login_Default.aspx" />
      
    </authentication>
    
    
    
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" />

    <!--<customErrors mode="On" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="Error.aspx"/>
      <error statusCode="500" redirect="Error.aspx"/>
    </customErrors>-->
    
    <globalization culture="en-GB" uiCulture="en-GB" />
    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="*.pdf" verb="*" type="System.Web.StaticFileHandler" />
      <add path="*.zip" verb="*" type="System.Web.StaticFileHandler" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
    
    
    <!--<httpRuntime executionTimeout="90" maxRequestLength="1048576" requestPathInvalidCharacters="&lt;,>,%,&amp;,:,\,?" />-->
    <httpRuntime executionTimeout="90" enableVersionHeader="false" maxRequestLength="1048576" requestPathInvalidCharacters="&lt;,>,%,&amp;,:,\,?" />

    <identity impersonate="false" />
   
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="LandDisputeConnectionString" connectionString="Data Source=192.168.185.83,1542;Initial Catalog=LandDisputeDB;Persist Security Info=True; User ID=homeonline;Password=HomEoN#25;Encrypt=False;" providerName="System.Data.SqlClient" />
    
<add name="MeriPehchaanSSO_DB" connectionString="Data Source=192.168.185.83,1542;Initial Catalog=LandDisputeDB;Persist Security Info=True; User ID=homeonline;Password=HomEoN#25;Encrypt=False;" providerName="System.Data.SqlClient" />


<add name="LandDisputeConnectionStringLocal" connectionString="Data Source=10.133.20.222\SQLEXPRESS01;Initial Catalog=LandDisputeDB;Persist Security Info=True; User ID=SS2019;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="MSCaptcha" path="CaptchaImage.axd" verb="*" type="MSCaptcha.CaptchaImageHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="MSCaptchaImage" path="~/CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" preCondition="integratedMode,runtimeVersionv2.0" />

      <!-- Disallow TRACE method Add Priya 09122024-->
      <remove name="TRACEVerbHandler" />
      <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="IsapiModule" scriptProcessor="*" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>


   

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
        <verbs applyToWebDAV="true" allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>


    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
                <add value="Default.aspx" />
      </files>
    </defaultDocument>

   
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UIDAuthSoap" />
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
        </binding>
          <binding name="ImageWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SMSWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
         
      </customBinding>
    </bindings>
    <client>      
      <endpoint address="http://164.100.37.11/UIDAuthService/UIDAuth.asmx" binding="basicHttpBinding" bindingConfiguration="UIDAuthSoap" contract="UIDAuthService.UIDAuthSoap" name="UIDAuthSoap" />    
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!--<add key="SMSMailService.nicmailservice" value="http://dgrc.bih.nic.in/nicmailservice.asmx" />-->
    <add key="NICMailService.NicMailService" value="http://dgrc.bih.nic.in/NicMailService.asmx" />
    <add key="SMSReferenceWithID.SMSWebService" value="http://164.100.37.18/commondeptsms/SMSWebService.asmx" />
    <add key="UIDAuthService.UIDAuth" value="http://164.100.37.11/UIDAuthService/UIDAuth.asmx" />
    <add key="UploadImageService.ImageWebService" value="http://localhost:8080/ImageWebService.asmx" />
        <!--<add key="UploadImageService.ImageWebService" value="http://10.133.25.21/ImageServiceHome/ImageWebService.asmx"/>>-->



  <add key="CLIENT_URL_PROTOCOL" value="http://" />
 <add key="CLIENT_URL" value="192.168.81.83" />

  <add key="CLIENT_URL_PORT" value="8090" />
  <add key="CLIENT_TID" value="600000" />
  <add key="JAN_PARICHAY_URL" value="https://janparichay.meripehchaan.gov.in/" />
  <add key="JAN_PARICHAY_SERVICE_ID" value="landdisputelcamt2fz77snwl6l-prod" />
  </appSettings>
</configuration>
